	<div class="col-md-12">
		<div class="content-panel">
		    <table id="tbl" class="table table-striped table-advance table-hover">
		    	<h4><i class="fa fa-angle-right"></i>Atividades</h4>
	            <hr>
		        <thead>
		        <tr>
		        	<th><i class=" fa fa-edit"></i> Descricao</th>
		        	<th><i class=" fa fa-edit"></i> Data Inicio</th>
		        	<th><i class=" fa fa-edit"></i> Data Fim</th>
		        	<th><i class=" fa fa-edit"></i> Hora</th>
		        	<th><i class=" fa fa-edit"></i> Status</th>
		        	<th><i class=" fa fa-edit"></i></th>
		        </tr>
		        </thead>
		        <tbody>
		        <tr ng-repeat="atividade in atividades">
		            <td>{{atividade.descricao}}</td>
		            <td>{{atividade.dataInicial | date:'dd/MM/yyyy'}}</td>
		            <td>{{atividade.dataFim | date:'dd/MM/yyyy'}}</td>
		            <td>{{atividade.hora}}</td>
		            <td>{{atividade.status}}</td>
		            <td>
			            <button class="btn btn-primary btn-xs" ng-click="editAtividade(atividade.id)"><i class="fa fa-pencil"></i></button>
			            <button class="btn btn-danger btn-xs" ng-click="deleteAtividade(atividade.id)"><i class="fa fa-trash-o "></i></button>
			        </td>
		        </tr>
		        </tbody>
		    </table>
		    <a ng-click="createNewAtividade()" class="btn btn-default espacoBotao" ng-show="user.roles['cuidador']">Nova Atividade</a>
			<button class="btn btn-default espacoBotao" ng-click="generatefromtable()"><i class="fa fa-file-pdf-o"></i> Imprimir</button>
		</div>	
	</div>	
